[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/hugo-theme-yinyang"]
	path = themes/hugo-theme-yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "themes/nightFolio"]
	path = themes/nightFolio
	url = https://github.com/cx48/NightFolio.git
